.home-container {
  background-color: white;
  font-weight: 600;
  height: 100vh;

  .textbox {
    margin-left: 10%;
    width: 50%;
    ul {
      padding-left: 0;
      font-size: 32px;
      list-style-type: none;
      li {
        margin-bottom: 4rem;
        a {
          font-weight: 400;
          color: $main-color;
          text-decoration: none;
        }
        a:hover {
          font-weight: 500;
          opacity: 50%;
          transition: 0.1s ease-in-out;
        }
      }
    }
  }
  .role {
    font-family: $secondary-font;
    font-size: 36px;
    width: 100%;
    margin-left: 10%;
  }
  .name {
    width: 50%;
    font-family: $secondary-font;
    font-size: 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    background-color: salmon;
  }
  .socials {
    background-color: $soft-gray;
    a {
      font-size: 24px;
      font-weight: 300;
      text-decoration: none;
      position: relative;
      top: 10%;
      margin-bottom: 20vh;
      transform: rotate(-90deg);
    }
    a:hover {
      opacity: 50%;
    }
  }
}
