@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
$main-color: #272341;
$soft-gray: #fafafa;
$main-font: "Montserrat", sans-serif;
$secondary-font: "Pacifico", sans-serif;

html,
body {
  padding: 0;
  margin: 0;
  font-family: $main-font;

  a {
    color: $main-color;
  }
}
